'''config.py'''


QBIT_HOST = 'http://127.0.0.1'
QBIT_PORT = 8080
QBIT_USERNAME = 'admin'
QBIT_PASSWORD = 'adminadmin'

TESTING = True
DEBUG = True
SECRET_KEY = 'SECRET'

REMEMBER_COOKIE_DOMAIN = '127.0.0.1'
REMEMBER_COOKIE_DURATION = 604800
REMEMBER_COOKIE_HTTPONLY = True
#REMEMBER_COOKIE_SECURE = True

SESSION_COOKIE_HTTPONLY = True
#SESSION_COOKIE_SECURE = True

#SESSION_PROTECTION = 'strong'
#USE_SESSION_FOR_NEXT = True
