body {
    background-color:   #444;
    color:              #fff;
    font-family:        'Open Sans', sans-serif;
}

button, input {
    background-color:   #444;
    color:              #fff;
    font-family:        'Open Sans', sans-serif;
    border:             0.1em solid #fff;
    font-size:          1.1em;
}

.gridjs-th-sort button {
    display:            none;
}

a:link, a:visited {
    color:              #09f;
}

a:hover {
    color:              #fff;
    font-weight:        bold;
}

header {
    border-bottom:      0.1em solid #666;
    padding-bottom:     0.5em;
    margin:             auto;
    width:              90vw;
    text-align:         center;
}

h2, .gridjs-head, .gridjs-footer {
    text-align:         center;
}

nav ul {
    list-style:         none;
    text-align:         center;
}

nav ul li {
    display:            inline-block;
    padding-left:       1em;
    padding-right:      1em;
    font-size:          1.25em;
}

footer {
    border-top:         0.1em solid #666;
    font-size:          small;
    padding-top:        0.5em;
}

.flash-error {
    color:              #f03;
}

.flash-info {
    color:              #09f;
}
.flash-success {
    color:              #4cbb17;
}

.flash-warning {
    color:              #f80;
}

.ratio-done {
    color:              #4cbb17;
}

.ratio-high {
    color:              #09f;
}

.ratio-low {
    color:              #f80;
}

.ratio-verylow {
    color:              #f10;
}

.ratio-done,
.ratio-high,
.ratio-low,
.ratio-verylow {
    font-weight:        bold;
}

#flashes {
    font-weight:        bold;
}

table {
    border:             0.1em solid #666;
    font-size:          0.9em;
    margin:             auto;
    width:              90vw;
}

td {
    border:             0.1em solid #666;
}

.gridjs-th-content, tr:nth-child(2n) {
    background-color:   #333; 
}
