{% extends "base.html.j2" %}
{% block title %}{{ title | default('Unknown Error') }}{% endblock title %}
{% block header %}{{ title | default('Unknown Error') }}{% endblock header %}
{%- block content %}
    <div class="m-3 p-3">
        <p class="flash-error fw-bold">
            {{ message | default('Sorry, but there was an unknown error!') }}
        </p>
        <p class="lead">
            You may want to return to the <a href="{{ url_for('index') }}">main page</a>.
        </p>
    </div>
{%- endblock content %}
