{% extends "layout.html.j2" %}
{% block title %}{{ title | default('Unknown Error') }}{% endblock title %}
{% block header %}{{ title | default('Unknown Error') }}{% endblock header %}
{%- block content %}
                <p>
                    {{ message | default('Sorry, but there was an unknown error!') }}
                </p>
                <p>
                    You may want to return to the <a href="{{ url_for('index') }}">main page</a>.
                </p>
{%- endblock content %}
