{% extends "base.html.j2" %}
{%- block title %}{{ title }}{% endblock %}
{%- block content %}
                <p class="flash-error fw-bold lead">
                    {{ message }}
                </p>
                <p class="lead">
                    You may want to return to the <a href="{{ url_for('index') }}" title="main page">main page</a>.
                </p>
{%- endblock content %}
