{% extends "base.html.j2" %}
{%- macro render_table_columns() %}
                        <tr>
                            <td data-bs-toggle="tooltip" data-bs-title="Name">
                                Name
                            </td>
                            <td data-bs-toggle="tooltip" data-bs-title="State">
                                State
                            </td>
                            <td data-bs-toggle="tooltip" data-bs-title="Category">
                                Category
                            </td>
                            <td data-bs-toggle="tooltip" data-bs-title="Size">
                                Size
                            </td>
                            <td data-bs-toggle="tooltip" data-bs-title="Ratio">
                                Ratio
                            </td>
                            <td data-bs-toggle="tooltip" data-bs-title="Added">
                                Added
                            </td>
                        </tr>
{%- endmacro  %}
{%- macro render_name(name) %}
                            <td data-search="{{ name }}" data-order="{{ name }}">
    {%- set name_color = "danger" %}
    {%- set name_icon = "question-square" %}
    {%- if " 2160p " in name or ".2160p." in name or ".4K." in name or " 4K " in name %}
        {%- set name_color = "warning" %}
        {%- set name_icon = "badge-4k" %}
    {%- elif " 1080p " in name or ".1080p." in name %}
        {%- set name_color = "primary" %}
        {%- set name_icon = "badge-hd" %}
    {%- elif ".720p." in name or " 720p " in name %}
        {%- set name_color = "info" %}
        {%- set name_icon = "badge-hd" %}
    {%- elif ".MacOS." in name or " MacOS " in name %}
        {%- set name_color = "danger-emphasis" %}
        {%- set name_icon = "apple" %}
    {%- endif  %}
                                <small data-bs-toggle="tooltip" data-bs-title="{{ name }}">
                                    {{ name }}
                                    <span class="bi bi-{{ name_icon }} text-{{ name_color }}"></span>
                                </small>
                            </td>
{%- endmacro  %}
{%- macro render_category(category="unknown") %}
    {%- for category_option, icon_option in categories.items() %}
        {%- if category.startswith(category_option) %}
                            <td data-search="{{ category }}" data-order="{{ category }}">
                                <a class="bi bi-{{ icon_option }} text-primary" data-bs-toggle="tooltip" data-bs-title="{{ category }}" href="#" onClick="table.search('{{ category_option }}').draw();"></a>
                                <!-- {{ category }} -->
                            </td>
        {%- endif %}
    {%- endfor %}
{%- endmacro %}
{%- macro render_size(bytes) %}
    {%- set human = bytes | bytes2human  %}
                            <td data-search="{{ bytes }}" data-order="{{ bytes }}">
                                <code data-bs-toggle="tooltip" data-bs-title="{{ human }} ({{ bytes }} bytes)">
                                    {{ human }}
                                </code>
                            </td>
{%- endmacro %}
{%- macro render_state(state="unknown") %}
    {%- set state_class = "error" %}
    {%- set state_icon = "question-circle" %}
    {%- if state.startswith("stalled") or "stalled" in state %}
        {%- set state_icon = "pause" %}
    {%- elif state.endswith("UP") %}
        {%- set state_class = "success" %}
        {%- set state_icon = "arrow-up-circle" %}
    {%- elif state.endswith("DL") or state.endswith("DOWN") %}
        {%- set state_class = "info" %}
        {%- set state_icon = "arrow-down-circle" %}
    {%- endif %}
                            <td data-search="{{ state }}" data-order="{{ state }}">
                                <span class="bi bi-{{ state_icon }} flash-{{ state_class }}" data-bs-toggle="tooltip" data-bs-title="{{ state }}"></span>
                                <!-- {{ state }} -->
                            </td>
{%- endmacro %}
{%- macro render_ratio(ratio) %}
    {%- set ratio_class = "verylow" %}
    {%- if ratio >= 1  %}
        {%- set ratio_class = "done"  %}
    {%- elif ratio >= 0.5 %}
        {%- set ratio_class = "high"  %}
    {%- elif ratio >= 0.25 %}
        {%- set ratio_class = "low"  %}
    {% endif %}
                            <td data-search="{{ ratio }}" data-order="{{ ratio }}">
                                <span class="fw-bold ratio-{{ ratio_class }}" data-bs-toggle="tooltip" data-bs-title="{{ ratio }}">
                                    {{ ratio|round(3) }}
                                </span>
                            </td>
{%- endmacro %}
{%- macro render_added(added) %}
    {%- set human = added | unix2time | strftime %}
    {%- set class_name = "text-secondary" %}
    {%- if now - added <= 86400 %}
        {%- set class_name = "text-light" %}
    {%- endif  %}
                            <td data-search="{{ human }}" data-order="{{ added }}">
                                <span class="{{ class_name }}" data-bs-toggle="tooltip" data-bs-title="{{ human }}">
                                    {{ human | replace('@', '<span class="bi bi-clock text-primary"></span>') }}
                                </span>
                            </td>
{%- endmacro %}
{%- macro render_torrent(torrent) %}
                        <tr>
                            {{- render_name(name=torrent.name) }}
                            {{- render_state(state=torrent.state) }}
                            {{- render_category(category=torrent.category) }}
                            {{- render_size(bytes=torrent.size) }}
                            {{- render_ratio(ratio=torrent.ratio) }}
                            {{- render_added(added=torrent.added_on) }}
                        </tr>
{%- endmacro %}
{%- block scripts %}
        <link rel="stylesheet" href="{{ url_for('static', filename='datatables.min.css') }}">
        <script src="{{ url_for('static', filename='datatables.min.js') }}"></script>
{%- endblock scripts %}
{%- block content %}
                <table class="display nowrap table table-sm table-striped stripe row-border order-column" id="torrents" style="width: 100%;">
                    <thead class="fw-bold">
                        {{- render_table_columns() }}
                    </thead>
                    <tbody>
    {%- for torrent in torrents %}
        {{- render_torrent(torrent) }}
    {%- endfor %}
                    </tbody>
                    <tfoot class="fw-bold">
                        {{- render_table_columns() }}
                    </tfoot>
                </table>
                <script>
                    const table = new DataTable("#torrents",
                        {
                            dom: "lpftrip",
                            drawCallback: function (settings) {
                                const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                                const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
                            },
                            lengthChange: true,
                            lengthMenu: [5, 10, 15, 20, 25, 50, 75, 100, { label: "all", value: -1}],
                            order: [[5, "desc"],],
                            pageLength: 10,
                            responsive: { responsive: true },
                        }
                    );
                </script>
{%- endblock content %}
